/*--------------------------------------------------------------
BASE
--------------------------------------------------------------*/

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/*--------------------------------------------------------------
ELEMENT
--------------------------------------------------------------*/

.wrapper{
    max-width: 1000px;
    margin: auto;
}